__pycache__
.venv
.vscode

client_media
worker_media
worker_logs

src/usbipice/worker/firmware/**/build
src/usbipice/worker/firmware/pico-ice-sdk
src/usbipice/worker/firmware/pico-sdk

examples/pulse_count_usbip/build
examples/pulse_count_driver/build

usbipice.egg-info
dist
