# Starts control on localhost:8080 and worker on localhost:8081
# Configuration needed:
#   USBIPICE_DATABASE
#   USBIPICE_VIRTUAL_IP

# TODO add db
# TODO don't use priv on control

services:
  worker:
    deploy:
      replicas: 1
    ports:
      - target: 8081
        published: 8081
        mode: host

    image: usbipiceproject/usbipice-worker:all
    build:
      context: .
      dockerfile: deploy/dockerfile

    volumes:
      - /dev:/dev
      - /run/udev:/run/udev

    privileged: true

    # these are needed for udev???? not sure why...
    network_mode: host
    user: root

    environment:
    - USBIPICE_DATABASE=${USBIPICE_DATABASE}
    - USBIPICE_VIRTUAL_IP=${USBIPICE_VIRTUAL_IP}
    - USBIPICE_VIRTUAL_PORT=8081

    - USBIPICE_CONTROL_SERVER=http://localhost:8080
    - USBIPICE_WORKER_NAME=host_worker
    - USBIPICE_DEFAULT=src/usbipice/worker/firmware/default/build/default_firmware.uf2
    - USBIPICE_PULSE_COUNT=src/usbipice/worker/firmware/pulse_count/build/bitstream_over_usb.uf2

    command: [".venv/bin/uvicorn", "usbipice.worker.app:run_uvicorn", "--env-file", ".uvicorn_env_bridge", "--port", "8081", "--factory", "--host", "0.0.0.0"]

  control:
    deploy:
      replicas: 1

    ports:
      - target: 8080
        published: 8080

    # only used for easy networking
    privileged: true
    network_mode: host

    image: usbipiceproject/usbipice-worker:all
    build:
      context: .
      dockerfile: deploy/dockerfile
    environment:
      - USBIPICE_DATABASE=${USBIPICE_DATABASE}

    command: [".venv/bin/uvicorn", "usbipice.control.app:run_uvicorn", "--env-file", ".uvicorn_env_bridge", "--port", "8080", "--factory", "--host", "0.0.0.0"]
